textarea
      background: rgba(255, 255, 255, 0.55)
textarea:focus
      background: rgba(255, 255, 255, 0.75)

.copyright
  font-size: 10px!important
  padding-left: 20px
  text-align: right!important

.samplecsv
  font-size: 11px!important
  position: absolute
  top: 180px
  left: 180px
